.root {
    position: absolute;
    bottom: 16px;
    margin-left: 16px;
    width: calc(100% - 32px);
    background-color: #2D2D2D;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 18px;
    height: 80px;

    border-radius: 10px;
}

.title{
    font-size: 16px;
    color: aliceblue;
    margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    
    width: 200px;
    flex-grow: 0;
}

.btn{
    margin-left: 16px;
    width: 40px;
    height: 40px;
    flex-grow: 0;
}